html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

body {
	padding-left: 11em;
	color: rgb(0, 0, 0);
	background-image: url("/images/comp-background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul.navbar {
	background-color: rgb(72, 72, 72);
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 10em;
}

h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}

ul.navbar li {
	padding: 0.8em;
}

ul.navbar li:hover {
	background-color: black;
}

div a:link {
	color: gray;
	text-decoration: none;
}

ul.navbar a {
	text-decoration: none;
	color: white;
}

.navbar:hover {
	color: grey;
}

.main-div {
	background-color: rgb(255, 255, 255);
	color: rgb(14, 12, 45);
	padding: 2em 4em;
	margin: 3em;
	border-radius: 5px;
}

.main-img {
	width: 50%;
	height: 50%;
	margin: 2em;
}
